.DS_Store
*~.*
*[Bb]uild/
.idea/
mulle_mintomic/
.repos/
xcuserdata/
project.xcworkspace/
mulle-configuration/
.bootstrap.auto/
.bootstrap.local/
dependencies/
cityhash/
tmp/
*.dSYM/
*.exe
/include
/lib
/xxmulle-tests/
/xx
.repos/mulle-allocator/mulle-configuration/
.repos/mulle-thread/mintomic/
.repos/mulle-thread/mulle-configuration/
mulle-tests/
addictions/
/.bootstrap.auto/
/.bootstrap.local/
/dependencies/
/addictions/
/.repos/
/mulle-configuration/
/mulle-tests/
/cityhash/
.git.old/
/tests/mulle-tests/

/bin/mulle-homebrew/
tests/include/
tests/lib/
tests/map/indexedkvbucket
tests/set/indexedbucket
tests/buffer/add
tests/buffer/buffer
tests/buffer/intersect
tests/array/array
tests/map/map
/.bootstrap.auto

/.bootstrap.local

/dependencies

/addictions

/.repos
tests/buffer/buffer.debug
tests/buffer/example
tests/buffer/example.debug
tests/buffer/setlength
tests/buffer/setlength.debug

/bin/mulle-homebrew
tests/buffer/flushexample
tests/buffer/flushexample.debug
tests/buffer/add.debug