{
   project =
   {
      description="↗️  A growable C char array and also a stream - on stack and heap";
      domain="github";
      name="mulle-buffer";
      user="mulle-c";
      repo="mulle-buffer";
      homepage="https://github.com/mulle-c/mulle-buffer";
      license="BSD-3-Clause";
      version="5.0.2";
   };
   dependencies =
   (
      {
         description="🔄 Flexible C memory allocation scheme";
         domain="github";
         name="mulle-allocator";
         repo="mulle-allocator";
         url="https://github.com/mulle-c/mulle-allocator";
         user="mulle-c";
      },
      {
         description="#️⃣ A collection of hash functions";
         domain="github";
         name="mulle-data";
         repo="mulle-data";
         url="https://github.com/mulle-c/mulle-data";
         user="mulle-c";
      }
   );
}
